<!DOCTYPE html>
<html>
<head>
    <title>App store</title>
    <style>
        #main {
            display: inline-block;
            text-align: center;
            position: absolute;
            height: 140px;
            width: 300px;
            margin: 0 0 0 -140px;
            left: 50%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>


<body id="main">
<a href="/chat" >chat</a>
<a href="/sockets" >sockets tester</a>
<h1>chat tester</h1>

targeted id : <input name="id" id="id" type="number"/>
message : <input name="message" id="msg" type="string"/>
<button id="send">send</button>

</body>

<script>

    $('document').ready(function(){
        var id = prompt('give me your id');

        var socket = io('http://localhost:3001',{ query : { id : id}});


        socket.on('onConnection', function(result){
            console.log("user has been connected, result = ", result);
        });

        $('button').click(function(){
            var targetedId = $('#id').val();
            var msg = $('#msg').val();
            console.log("targeted id = ", targetedId);
            console.log("msg = ", msg);
            socket.emit('message', {
                targetUserId : targetedId,
                message : msg
            });
        })

        socket.on('message', function(data){
            alert('you got a message');
            console.log("message = ", data);
        });

        socket.on('update', function(data){
            alert('Your game has been updated');
            console.log("update = ", data);
        });
    });





</script>
</html>